@using StudentFinanceSupport.Helpers;
@Styles.Render("~/Content/Wizard")
@Scripts.Render("~/bundles/wizardSteps")
<style>
    .wizard > .content > .body {
        height: 300px;
    }
    .tabcontrol > .content {
        height: 12em;
        padding-top: 5px; 
    }
    #report-btn-group btn {
        display: inline-block;
    }
    #report-btn-group {
        width :350px;
    }
</style>
<div id="search_report_form" class="" style="height:350px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Report Filters
        </div>
        <div id="filter_wizard" class="panel-body">
            <h3>Report Dates</h3>
            <section id="view_by" class="">
                <div class="form-group">
                    <div class="col-md-8">
                        <div id="select_date">

                            Date
                            @Html.TextBox("start_date", @DateTime.Now.ToShortDateString(), htmlAttributes: new { @class = "datepicker" })

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <div id="select_date_type">
                            Report Type
                            @Html.DropDownList(
                                   "date_type",
                                    Helpers.DayWeekMonthYearSelect(), Helpers.SelectOneSpacer,
                                new { @class = "form-control", data_placeholder = "Choose a View..." })
                        </div>
                    </div>
                </div>
       
                </section>
                
            <h3>Campus Filters</h3>
                <section>
                <div class="form-group">


                    <div class="col-md-8">
                        <div class="form-group">

                            <div class="col-md-10">
                                <div class="col-md-6">
                                    Campus
                                    @Html.DropDownList(
                                                        "Campus",
                                                   (IEnumerable<SelectListItem>)ViewBag.Campus, Helpers.SelectOneSpacer,
                                new { @class = "form-control", data_placeholder = "Choose a Grant..." })

                                </div>



                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="col-md-10">
                                <div class="col-md-6">
                                    Faculity
                                    @Html.DropDownList(
                                    "Faculity",
                                 (IEnumerable<SelectListItem>)ViewBag.Faculity, Helpers.SelectOneSpacer,
                                new { @class = "form-control", data_placeholder = "Select a Faculity..." })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <h3>Grant Types Filters</h3>
            <section>
                <div class="form-group">


                    <div class="col-md-8">
                        <div class="form-group">

                            <div class="col-md-10">
                                <div class="col-md-6">

                                    @Html.DropDownList(
                                             "GrantType",
                                          (IEnumerable<SelectListItem>)ViewBag.GrantType, Helpers.SelectOneSpacer,
                                new { @class = "form-control", data_placeholder = "Select a Faculity..." })

                                   

                                </div>



                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <h3>Student Filters</h3>
            <section>
                <div class="form-group">


                    <div class="col-md-8">
                        <div class="form-group">

                            <div class="col-md-10">
                                <div class="col-md-6">
                                    Gender
                                    @Html.DropDownList(
                                                         "gender",
                                                         Helpers.DropDownGender(), Helpers.SelectOneSpacer,
                                new { @class = "form-control", data_placeholder = "Choose a Gender..." })

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            
        </div>
       
    </div>
    <!-- /.col-lg-4 -->
    <div class="form-group pull-left">

        <div class="col-md-offset-2 col-md-8 " style="padding-top:15px;">
            <span id="report-btn-group" class="pull-left">
                <button id="search_report_reset_btn" class="btn btn-warning">Reset Filters</button>
                <button id="search_report_btn" class="btn btn-success">Generate Report</button>
            </span>
        </div>
    </div>
</div>

<script>
    //generate report

    $(document).ready(function () {     //Specify our form area as this is partial view don't want any document clashes

      

       

        var calander_selections = {
            day: {
                format: "dd/mm/yyyy",
                autoclose: true,
            },
            week: {
                format: "dd/mm/yyyy",
                minViewMode: "weeks",
                viewMode: "weeks",
                autoclose: true,
            },
            month: {
                format: "mm/yyyy",
                minViewMode: "months",
                viewMode: "months",
                autoclose: true,
            },
            year: {
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true,
            }
        }

  


        $("#filter_wizard").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            enableFinishButton: false,
            enablePagination: false,
            enableAllSteps: true,
            titleTemplate: "#title#",
            cssClass: "tabcontrol"

        });

        //date picker
        $('.datepicker').datepicker(calander_selections.day);

        //report selection has changed
        $("#date_type").change(function () {
            var selection = $(this).val()
            //console.log("selection", selection)
            //console.log("bin", calander_selections[selection]);
            var options = calander_selections[selection];
            $('.datepicker').datepicker('remove');
            $('.datepicker').datepicker(options);

        })
      
    })

</script>