@model StudentFinanceSupport.Models.AdministratorLogin

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Main_Layout_.cshtml";
}
<style>
    .new-pass::before 
{
    content: "New ";
    font-weight: bold;
     
}
</style>
<h2>Change Password</h2>

<div>
   
@using (Html.BeginForm())
{ 
        <!-- Start of password entries -->
            <div id="password_wrapper" class="form-group">
                 @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 new-pass" })
             
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control ", @type = "password", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div id="password_messages"></div>


            </div>
            <div class="form-group">
                <span class="control-label col-md-2">Retype Password</span>
                <div class="col-md-10">

                    @Html.Password("password_match", (string)ViewBag.password_match, new { @class = "form-control", @value = ViewBag.password_match })

                </div>
            </div>
            <!-- End of password entries -->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change Password" class="btn btn-default" />
                </div>
            </div>
        
}
</div>

@Scripts.Render("~/bundles/pwstrength")
<script>
    $(function () {
        "use strict";
        var options = {};
        options.common = {
            onLoad: function () {
                //$('#password_messages').text('Start typing password');
            }
        };
        options.ui = {
            bootstrap2: false,
            showErrors: true
        };
        $('#Password').pwstrength(options);
    })
</script>