
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Layout_.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Admin Menus</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div id="dashboard_panel" class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="@Url.Action("Add", "Administrators")">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-table fa-4x"></i>
                        </div>

                        <div class="col-xs-9 text-right">
                            <div class="h3">Add Admin</div>
                            <div class="small">Adds an admin to the system</div>
                        </div>

                    </div>
                </a>
            </div>


        </div>
    </div>
    
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading ">
                <a href="@Url.Action("Admins", "Administrators")">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-graduation-cap fa-4x"></i>
                        </div>

                        <div class="col-xs-9 text-right">
                            <div class="h3">List Current Admin's</div>
                            <div class="small">List system admins</div>
                        </div>

                    </div>
                </a>
            </div>

          

        </div>
    </div>
    
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <a href="@Url.Action("Create", "Faculties")">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-edit fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="h3">Add Facuilty</div>
                            <div class="small">Add a Faculty</div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "Faculties")">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-edit fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="h3">Edit Facuilty</div>
                            <div class="small">Edit a Faculty</div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <a href="@Url.Action("Create", "Campus")">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="h3">Add Campus</div>
                            <div class="small">Add Campus to system</div>
                        </div>
                    </div>
                </a>
            </div>
           
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "Campus")">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="h3">Edit Campus</div>
                            <div class="small">Edit a Campus</div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading ">
                <a href="@Url.Action("Create", "Courses")">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-graduation-cap fa-4x"></i>
                        </div>

                        <div class="col-xs-9 text-right">
                            <div class="h3">Create Course</div>
                            <div class="small">Add Course to faculty</div>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading ">
                <a href="@Url.Action("Index", "Courses")">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-graduation-cap fa-4x"></i>
                        </div>

                        <div class="col-xs-9 text-right">
                            <div class="h3"> Edit Courses</div>
                            <div class="small">Edit a faculty course</div>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading ">
                <a href="@Url.Action("Index", "GrantTypes")">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-graduation-cap fa-4x"></i>
                        </div>

                        <div class="col-xs-9 text-right">
                            <div class="h3"> Edit Grant Types</div>
                            <div class="small">Edit a grant types</div>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<!-- /.row -->
