@model IEnumerable<StudentFinanceSupport.Models.GrantType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Layout_.cshtml";
}

<h2>Edit Grant Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.grant_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grant_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grant_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grant_koha)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.grant_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grant_value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grant_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grant_koha)
        </td>
       
        <td>
 
            @Html.ActionLink("Edit Grant Type", "Edit", "GrantTypes",
                    new { id = item.grant_type_id },
                            htmlAttributes: new { @class = "btn btn-default " }
                          )
        </td>
    </tr>
}

</table>
