@model StudentFinanceSupport.Models.Recovery
@using StudentFinanceSupport.Helpers

    <h4>Recovery Wizard</h4>
    
    <h3>Student Details</h3>
    <section id="account_details">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Administrator.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Administrator.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Administrator.Email, "", new { @class = "text-danger" })
            </div>
        </div>
     </section>
    <h3>Recovery Options</h3>
    <section id="student_entrollment">

        <div class="form-group">
            @Html.LabelFor(model => model.recovery_option, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.DropDownListFor(model =>  model.recovery_option, Helpers.RecoveryOptions(), Helpers.SelectOneSpacer, new { @class = "form-control" })
                @Html.ValidationMessageFor(model =>  model.recovery_option, "", new { @class = "text-danger" })
            </div>
        </div>
    </section>
        
<script>
    //recovery.js
    $(document).ready(function () {

        //selected options change
        $("#recovery_option").change(function () {
            var option = $(this).val();
            console.log("option", option)
        })

    })
</script>


