@model StudentFinanceSupport.Models.Recovery
@using StudentFinanceSupport.Helpers


    <h1>Reset Password</h1>


    
<div id="recovery_code" class="col-lg-7">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            Recover Account
        </div>
        <div class="panel-body">
            <section id="recovery_email" class="">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    
                    @Html.LabelFor(model => model.Administrator.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Administrator.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Administrator.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </section>

            <section id="recovery_details" class="">
              
                <div class="form-group">
                    @Html.LabelFor(model => model.recovery_option, htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.recovery_option, Helpers.RecoveryOptions(), Helpers.SelectOneSpacer, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.recovery_option, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div id="recover_entry" class="form-group" style="display:none">
                    
                    <div id="mobile_number" class="col-md-10" style="display:none">
                       
                        <h4>Enter last 4 digits of this number 
                            
                            <span id="mobile_number_guess" style="padding-top:10px;">
                                
                            </span>

                        </h4>
                       
                           @Html.EditorFor(model => model.Administrator.mobile, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Administrator.mobile, "", new { @class = "text-danger" })
                    </div>
                </div>
                
            </section>

            <!--
            <section id="recovery-try" class="col-md-8" style="display:none">
                <h3>Recovery Entry</h3>
                <div class="form-group">
                    @Html.LabelFor(model => model.recovery_key, htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.recovery_key, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.recovery_key, "", new { @class = "text-danger" })
                    </div>
                </div>

            </section>
             -->
            <div class="form-group">

                <div class="col-md-offset-2 col-md-8 " style="padding-top:15px;">
                    <button id="reset_password" class="btn btn-default pull-right">Request Recovery Key</button>

                </div>
            </div>
        </div>
        
       
    </div>
    <!-- /.col-lg-4 -->
</div>

@Html.Partial("~/Views/Recovery/Code.cshtml")


 
<script>
    //recovery.js
    $(document).ready(function () {
        //define the form elements
        var $recover_account_form = $("#recover_account");
        var $recovery_code = $("#recovery_code");
        var $selected_default = $("#recovery_option  option:selected", $recovery_code);
        //selected options change
        $("#recovery_option", $recovery_code).change(function () {
            var recovery = $(":input", $recovery_code).serialize();
            $("#Administrator_Email_validationMessage").empty();
            //retrieve options
            getOptions(recovery)

        });

        $("#reset_password", $recovery_code).click(function () {
            //lets send for check
            var recovery = $(":input", $recovery_code).serialize();
            $.ajax({
                url: "/Recovery/sendRecoveryCode",
                type: "POST",
                dataType: "json",
                //data: { option: $(this).val() },
                data: recovery,
                success: function (data) {

                }
            });
        });




        function getOptions(recovery) {
            //hide and empty ul
            $.ajax({
                url: "/Recovery/adminDetails",
                type: "POST",
                dataType: "json",
                //data: { option: $(this).val() },
                data: recovery,
                success: function (data) {

                    //check for errors for admin email
                    if (typeof data['Administrator.Email'] == "object") {

                        $.map(data, function (error, key) {
                            //if we have issue with administrator move select box back to default
                            if (key == "Administrator.Email") {
                                $("#Administrator_Email_validationMessage", $recovery_code).text(error);
                                $selected_default.attr("selected", true);
                            }

                        })
                    }

                    if (typeof data['mobile_guess'] == "string") {
                        $("#recover_entry", $recovery_code).show();
                        $("#mobile_number", $recovery_code).show();
                        $("#mobile_number_guess", $recovery_code).text(data['mobile_guess']);
                        console.log("data", data['mobile_guess'])
                    }


                }
            });
        }
    })





   

</script>


