@model StudentFinanceSupport.Models.Recovery
@using StudentFinanceSupport.Helpers

    <h4></h4>
    
    
    @Html.ActionLink("Have recovery code already?", "Code")

    <h3>Recover Account</h3>
    <div id="recovery_form">
        <section id="recovery_email" class="col-md-10">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Administrator.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Administrator.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Administrator.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </section>
    <h3>Recovery Options</h3>
        <section id="recovery_details" class="col-md-10">

            <div class="form-group">
                @Html.LabelFor(model => model.recovery_option, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.recovery_option, Helpers.RecoveryOptions(), Helpers.SelectOneSpacer, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.recovery_option, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="recover_entry" class="form-group" style="display:none">
                @Html.LabelFor(model => model.recovery_key, htmlAttributes: new { @class = "control-label col-md-8" })


                <div id="mobile_number" class="col-md-10" style="display:none">
                    <h3>Enter last 4 digits of this number <span id="mobile_number_guess"></span></h3>
                    @Html.TextBox("phone_number", (string)ViewBag.phone_number, new { @class = "form-control", @value = ViewBag.phone_number })
                </div>



            </div>


        </section>
       
        <h3>Recovery Entry</h3>
        <section id="recovery-try" class="col-md-10" style="display:none">

            <div class="form-group">
                @Html.LabelFor(model => model.recovery_key, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.recovery_key, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.recovery_key, "", new { @class = "text-danger" })
                </div>
            </div>



        </section>
</div>
 
<script>
    //recovery.js
    $(document).ready(function () {

        //selected options change
        $("#recovery_option").change(function () {
            var recovery = $("#recovery_form :input").serialize();
            $("#Administrator_Email_validationMessage").empty();
           
            getOptions(recovery)
            
        })

    })





    function getOptions(recovery) {
        //hide and empty ul
        $.ajax({
            url: "/Recovery/adminDetails",
            type: "POST",
            dataType: "json",
            //data: { option: $(this).val() },
            data : recovery,
            success: function (data) {
                
                //check for errors for admin email
                if (typeof data['Administrator.Email'] == "object") {

                    $.map(data, function (error, key) {
                        if (key == "Administrator.Email") {
                            $("#Administrator_Email_validationMessage").text(error)
                        }

                    })
                }
               
                if (typeof data['mobile_guess'] == "string")
                {
                    $("#recover_entry").show();
                    $("#mobile_number").show();
                    $("#mobile_number_guess").text(data['mobile_guess']);
                    console.log("data", data['mobile_guess'])
                }
               

            }
        });
    }

</script>


