@model IEnumerable<StudentFinanceSupport.Models.StudentRegistration>
@using StudentFinanceSupport.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Layout_.cshtml";
}

<h2>Index</h2>

@foreach (var student in Model)
{

    @Html.DisplayFor(modelItem => student.Student_ID)

    <div>
        <span>
            @Html.DisplayFor(modelItem => student.FirstName)
        </span>
        <span>
            @Html.DisplayFor(modelItem => student.Student_ID)
        </span>
        <span>
            @Html.ActionLink("Edit", "Edit", new { id = student.Student_ID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </span>
    </div>
}

