@model IEnumerable<StudentFinanceSupport.Models.StudentVoucher>

@{
    Layout = "~/Views/Shared/_Main_Layout_.cshtml";
}

@Styles.Render("~/Content/datatables")
@Scripts.Render("~/bundles/datatables")
<div class="row">
    <table class="table table-striped table-bordered table-hover col-md-6" id="grants-list-table">
        <thead>
            <tr>
                <th class="col-lg-3">@Html.DisplayNameFor(model => model.StudentRegistration.FirstName)</th>
                <th class="col-lg-3">@Html.DisplayNameFor(model => model.KuhaFunds)</th>

                <th class="col-lg-2"></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var grants in Model)
            {
                <tr class="odd gradeX">
                    <td>
                        @Html.DisplayFor(modelItem => grants.StudentRegistration.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => grants.KuhaFunds)
                    </td>

                    <td class="center">
                        <div class="btn-group">
                            @Html.ActionLink("View Students", "Create", "Courses",
              new { id = grants.student_ID },
                            htmlAttributes: new { @class = "btn btn-default " }
                          )

                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Edit Student", "Edit", new { id = grants.id_student_vouchers })</li>
                                <li>@Html.ActionLink("Details", "Details", new { id = grants.id_student_vouchers })</li>
                                <li class="divider"></li>
                                <li class=""> @Html.ActionLink("Delete", "Delete", new { id = grants.id_student_vouchers })</li>
                            </ul>
                        </div>

                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#grants-list-table').DataTable({
            responsive: true
        });
    });
</script>

