@{
    ViewBag.Title = "Main Dash Board ";
    //Layout = "~/Views/Shared/_Login_Layout_.cshtml";
}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div id="dashboard_panel" class="row">
@if (Context.User.IsInRole("Admin") || Context.User.IsInRole("Advisor"))
{
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="@Url.Action("Create", "StudentRegistration")">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-table fa-4x"></i>
                            </div>

                            <div class="col-xs-9 text-right">
                                <div class="h3">Add Student</div>
                                <div class="small">Add a student to  the system</div>
                            </div>

                        </div>
                    </a>
                </div>
                
                    
                
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <a href="@Url.Action("List", "StudentRegistration")">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-graduation-cap fa-4x"></i>
                            </div>

                            <div class="col-xs-9 text-right">
                                <div class="h3">List Student's</div>
                                <div class="small">Lists all students in system</div>
                            </div>

                        </div>
                    </a>
                </div>

               

            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <a href="@Url.Action("Add", "StudentVouchers")">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-edit fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="h3">Add Voucher</div>
                                <div class="small">Give a student a voucher</div>
                            </div>
                        </div>
                        </a>
                 </div>
            </div>
        </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "StudentVouchers")">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-edit fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="h3">List Student Vouchers</div>
                            <div class="small">Lists All Student vouchers</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    
        }

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <a href="@Url.Action("Index", "Reports")">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="h3">View Reports</div>
                                <div class="small">Section of system reports</div>
                            </div>
                        </div>
                        </a>
                    </div>
               
            </div>
        </div>

@if (Context.User.IsInRole("Admin"))
    {
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <a href="@Url.Action("Index", "Administrators")">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-eye-slash fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="h3">Admin Section</div>
                                <div class="small">Manage system and admin accounts</div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
}
    </div>
    <!-- /.row -->
