@model IEnumerable<StudentFinanceSupport.Models.Campus>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Layout_.cshtml";
}

<h2>Index</h2>
<button class="btn btn-info back_button">Back</button>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.campus_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.campus_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_campus }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_campus }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_campus })
        </td>
    </tr>
}

</table>
